language: go
go: 1.5

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/alecthomas/gometalinter
  - gometalinter --install --update

script:
  - go install -v ./...
  - go test -v ./...
  - $HOME/gopath/bin/gometalinter ./... --deadline=10s
  - go test -covermode=count -coverprofile=profile.cov

after_script:
  - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci
